<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
<title>Bussiness News</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'css/skin.css' %}" />
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/font.font.js' %}"></script>
<script type="text/javascript">
Cufon.replace('h1, h2, h3, h4, h5, h6', {
    hover: true
});
</script>
</head>

<body>
<!-- START PAGE SOURCE -->
<div class="main">
  <div id="header" class="box">
    <h1 id="logo">Bussiness<span>News</span></h1>
    <ul id="nav">
      <li class="current"><a href="http://127.0.0.1:8000/">Homepage</a></li>
      <li class="current"><a href="http://127.0.0.1:8000/registration">Sign up</a></li>
      <li class="current"><a href="http://127.0.0.1:8000/login">Log in</a></li>
    </ul>
  </div>
  <div>
    <div id="section" class="box">
        <div id="content">
            <ul class="articles box" ></ul>
            <form method="post">
                {% csrf_token %}

                <div>
                    <label style="font-size:20px;" for="email">Email:</label><br>
                    <input style="font-size:17px;" type="text" id="email" name="email">
                </div>
                <div>
                    <label style="font-size:20px;" for="password">Password:</label><br>
                    <input style="font-size:17px;" type="text" id="password" name="password"><br><br>
                </div>
                <div>
                    <input style="color:blue; font-size:20px;" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
</body>
</html>